

<%= link_to "NewMarkReport",new_subject_path %>



<!-- <table class="table table-stripped">
<tr> 
<th> Subject Name </th>

</tr>

<#% @subjects.each do |subject| %#>

<tr>
<td><%#= subject.subject_name %></td>
<td><%#= link_to "teachersubjects",teacherclass_subject_path(subject) %></td>
</tr>
<#% end %#>

</table> -->