<table class="table table-stripped">
<tr> 
<th> Subject Name </th>
<th> Assign Marks </th>
</tr>
<% @teacherclass.each do |ts | %>
<tr>
<td><%= ts.subject.subject_name %></td>
 <td><%= link_to 'Assign', '#assignsubject',:onclick => "javascript:subject_form('#{ts.subject.id}')",:class=>"btn btn-xs btn-primary", "data-toggle" => "modal" %></td>
<tr>
<% end %>
</table> 
<div class="modal fade" id="assignsubject">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Assign</h4>
      </div>
      <div class="modal-body" id="assign_subject">
       </div>
       <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
  
      </div>
    </div>
  </div>
</div>

<script>
  function subject_form(ts) {
      $.get("/subjects/" + ts + "/teacherclass" );
  }
</script>