

<p> <label>Subject</label>

<%= select_tag "subject_ids[]",options_for_select([["select",""]] + subjects.map{ |ic| [ic.subject_name,ic.id]}), {:class => 'multiselect-all', :multiple => 'true'} %>
</p>


<script type="text/javascript">
	
	$(document).ready(function () {
$('#subject_ids_').multiselect();
	});
</script>

