<h2> New Batch </h2>

<%= nested_form_for @batch, :url =>  admin_batches_path,:html => {:multipart => true }, :method => "POST" do |f| %>
  <%= render :partial => "form", :locals => {:f => f} %>
<%end%>
